.hero {
  overflow-x: hidden;
  /*display: grid;*/
  /*grid-template-columns:4fr 1fr;*/
  gap: 1rem;
  padding: 1rem 0;
  margin: auto auto;
  width: -webkit-fill-available;
  /*background: blue;*/
}

