.hero-container {
  position: relative;
  display: grid;
  grid-column: 1/13;
  padding: var(--padding);
  margin-top: var(--flow-spacing);
  overflow-x: hidden;
  gap: .5rem;
  background: var(--muted);
}

.hero-container .queue-panel {
  position: fixed;
  bottom: 0;
  right: 1%;
  background: var(--muted);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .05rem;
  border-radius: 1rem;
  padding: 0;
  overflow-x: hidden;
  box-shadow: var(--shadow);
  width: 50vw;
  transform: translateY(40%);
  z-index: 3;
  transition: transform .35s ease, opacity .35s ease, background-color .35s ease;

  h1 {
    font-size: var(--fs-h4);
    text-align: center;
  }
}

.queue-panel-header {
  font-size: var(--fs-h5);
}

.queue-icon-list {
  display: flex;
  gap: .5rem;
  justify-content: space-evenly;
  background: var(--accent);
  width: 100%;
  list-style: none;
  padding: .5rem;
  margin: 0;
}

.queue-icon-list-item-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  appearance: none;
  border-radius: 0;
  width: 100%;
  height: 100%;
  /*display: block;*/
}

.queue-panel:focus-within {
  transform: translateY(-15%) translateX(-10%);
}

.queue-icon-list-item:focus-within {
  filter: grayscale(0%);
}

.queue-icon-list-item {
  overflow: hidden;
  height: 50px;
  width: 50px;
  filter: grayscale(80%);
}


@media screen and (min-width: 915px) {
  .hero-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: blue;
  }

  .hero-container .hero-carousel {
    grid-column: 1/8;
    /*grid-area: 1/10;*/
  }

  .hero-container .que-panel {
    grid-column: 8/13;
    position: relative;
    bottom: unset;
    right: unset;
  }

  .hero-container h1 {
    font-size: var(--fs-p);
    text-align: center;
  }
}

/*.hero {*/
/*  display: grid;*/
/*  grid-template-columns: 1fr;*/
/*  flex-direction: column;*/
/*  overflow-x: hidden;*/
/*  gap: 1rem;*/
/*  padding: 1rem;*/
/*  margin-top: var(--flow-spacing);*/
/*  !*width: -webkit-fill-available;*!*/
/*  background: var(--muted);*/
/*}*/

/*@media screen and (min-width: 1080px) {*/
/*  .hero {*/
/*    grid-template-columns: 8fr 4fr;*/
/*  }*/
/*}*/

/*.hero-carousel {*/
/*  width: -webkit-fill-available;*/
/*}*/

/*.carousel-selector-container {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  gap: 1rem;*/

/*}*/

/*.drink-que-container {*/
/*  overflow-x: hidden;*/
/*  display: grid;*/
/*  !*grid-template-columns:4fr 1fr;*!*/
/*  gap: 1rem;*/
/*  margin: auto auto;*/
/*  width: -webkit-fill-available;*/
/*}*/

/*.drink-que-container .panel {*/
/*  background: var(--panel);*/
/*  border-radius: var(--radius);*/
/*  padding: 22px;*/
/*  box-shadow: var(--shadow)*/
/*}*/


/*.hero .panel {*/
/*  background: var(--panel);*/
/*  border-radius: var(--radius);*/
/*  padding: 22px;*/
/*  box-shadow: var(--shadow)*/
/*}*/

/*h1 {*/
/*  font-size: var(--fs-h1);*/
/*  margin: .25em 0 .4em*/
/*}*/

/*.weekly-look-nav-container {*/
/*  display: flex;*/
/*  flex-wrap: nowrap;*/
/*  justify-content: center;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  gap: 2rem;*/
/*  margin-bottom: 12px*/
/*}*/


/*!* --- Shared components used in index.html --- *!*/
/*.badge {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  text-align: center;*/
/*  align-self: center;*/
/*  background: var(--accent-2);*/
/*  color: #2b1b00;*/
/*  border-radius: 999px;*/
/*  padding: .75rem 1.25rem;*/
/*  font-weight: 800;*/
/*}*/

/*.chip {*/
/*  display: flex;*/
/*  background: color-mix(in oklab, var(--chip) 92%, black 8%);*/
/*  color: var(--ink);*/
/*  padding: 1rem 2rem;*/
/*  border-radius: 5rem;*/
/*  height: -webkit-fill-available;*/
/*  max-height: 4rem;*/
/*  font-size: var(--fs-sp);*/
/*  border: 1px solid color-mix(in oklab, var(--chip) 75%, white 25%);*/
/*  cursor: pointer;*/
/*  !*align-content: center;*!*/
/*  !*align-items: center;*!*/
/*  !*align-self: center;*!*/

/*}*/

/*.pill {*/
/*  display: inline-flex;*/
/*  align-items: center;*/
/*  gap: 8px;*/
/*  background: var(--chip);*/
/*  border: 1px solid color-mix(in oklab, var(--chip) 65%, white 35%);*/
/*  border-radius: 999px;*/
/*  padding: 8px 12px;*/
/*  font-size: var(--fs-sp);*/
/*  color: var(--muted);*/
/*}*/

/*.cta {*/
/*  display: inline-flex;*/
/*  align-items: center;*/
/*  gap: 10px;*/
/*  background: var(--accent);*/
/*  color: #fff;*/
/*  border: none;*/
/*  border-radius: 12px;*/
/*  padding: 12px 16px;*/
/*  font-weight: 700;*/
/*  text-decoration: none;*/
/*}*/

/*.cta.sec {*/
/*  background: var(--blue);*/
/*  color: #fff*/
/*}*/

/*.weekbar {*/
/*  display: grid;*/
/*  grid-template-columns:repeat(3, 1fr);*/
/*  gap: 10px*/
/*}*/

/*.day {*/
/*  background: var(--day-card);*/
/*  border: 1px solid var(--day-border);*/
/*  border-radius: 12px;*/
/*  padding: 12px;*/
/*}*/

/*.day strong {*/
/*  display: block*/
/*}*/

/*.queue {*/
/*  display: grid;*/
/*  gap: 10px*/
/*}*/

/*.queue .row {*/
/*  display: flex;*/
/*  gap: 12px;*/
/*  align-items: center*/
/*}*/
