.logo {
  justify-content: center;
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  min-width: var(--minimum-width-size);
  min-height: 14vh;
  max-height: 14.25vh;
  /*transition: all .75s ease-in-out;*/
  margin-top: 4rem;
  align-items: center;
}

.sign-wrap {
  width: auto;
  height: var(--navigation-height);
  max-height: var(--navigation-height);
  max-width: 360px;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  position: relative;
  height: -webkit-fill-available;
  background-color: var(--accent-2);
  filter: saturate(1.05);
}

.word {
  position: relative;
  font-family: 'Anton', Impact, Haettenschweiler, 'Arial Black', sans-serif;
  /*text-effect: emboss;*/
  font-size: var(--fs-h1);
  font-weight: var(--fw-regular);
  letter-spacing: .2em;
  height: 100%;
  align-content: center;
  margin: 0;
  line-height: 1;

  /* starts dim/off */
  color: #fff;
  opacity: 1;
  /*filter: brightness(.6);*/
  text-shadow: 0 3px 0 rgba(0, 0, 0, .35), /* base edge */ 0 0 0 rgba(255, 255, 255, 0); /* glow anim target */

  /*animation: textFlicker 1s linear 0s forwards,*/
  /*textHum 1.8s steps(2, end) 1.1s infinite; !* subtle on hum starts earlier *! !* subtle on hum *!*/
}

/* Ambient glow behind the whole sign */
.sign-wrap::before{
  min-width: var(--minimum-width-size);
  max-width: 360px;
  content:"";
  position:absolute; inset:-2vmin;
  /*background: radial-gradient(closest-side, rgba(255,214,64,.45), rgba(255,214,64,0) 70%);*/
  filter: blur(20px);
  opacity:1;                       /* off until powered */
  pointer-events:none;
  z-index:50000;
  animation: glowPower 1.5s ease-in-out forwards, bgGlowHum 8s ease-in-out 1.5s infinite;
}

@keyframes glowPower{
  0%{opacity:0}
  30%{opacity:.2}
  58%{opacity:.35}
  60%{opacity:.08} /* outage dip */
  62%{opacity:.35}
  100%{opacity:.45}
}


@keyframes bgGlowHum{
  0%,100%{opacity:.45}
  25%{opacity:.40}
  50%{opacity:.48}
  75%{opacity:.42}
}



@media (min-width: 1080px) {
  .logo {
    /*justify-content: start;*/
  }
}
