@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
  font-size: 16px;

  /* Typography */
  /* --font-heading: 'Poppins', sans-serif; */
  --font-family: 'Montserrat', sans-serif;
  /*--font-family: 'Raleway', sans-serif;*/
  /*--font-body: 'Inter', sans-serif;*/

  /* Font weight scale for consistent, maintainable typography */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  /* Use for spacing between major sections of content */
  --flow-spacing: 2.25rem;

  /* Dynamic Font Sizes */
  --fs-sp: clamp(0.7125rem, 0.475rem + 1.425vw, 0.95rem);
  --fs-p: clamp(0.95rem, 0.7125rem + 1.1875vw, 1.06875rem);

  --fs-h6: clamp(1.06875rem, 0.83125rem + 1.1875vw, 1.1875rem);
  --fs-h5: clamp(1.1875rem, 0.95rem + 1.425vw, 1.425rem);
  --fs-h4: clamp(1.425rem, 1.06875rem + 1.6625vw, 1.6625rem);
  --fs-h3: clamp(1.78125rem, 1.30625rem + 1.9vw, 2.1375rem);
  --fs-h2: clamp(2.19687rem, 1.6625rem + 2.375vw, 2.6125rem);
  --fs-h1: clamp(2.73125rem, 2.01875rem + 2.85vw, 3.325rem);



  --navigation-height: 8rem;
  --mobile-version-size: 860px;
  --minimum-width-size: 320px;

  /* UI tokens used by theme-common */
  --radius: 18px;
  --shadow: 0 10px 24px rgba(0, 0, 0, .35);
  --padding: 1rem;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  /*width: 100dvw;*/
  /*min-width: var(--minimum-width-size);*/
}

body {
  /*overflow-x: hidden;*/
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  font-family: var(--font-family), sans-serif;
  font-weight: var(--fw-regular);
  line-height: 1.6;
  position: relative;
  padding: .1rem;
  background: black;
}

img {
  max-width: 100%;
  height: auto;
}

.fs-sp {
  font-size: var(--fs-sp);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-extrabold);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-semibold);
}

h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-semibold);
}

h5 {
  font-size: var(--fs-h5);
  font-weight: var(--fw-medium);
}

h6 {
  font-size: var(--fs-h6);
  font-weight: var(--fw-medium);
}

p {
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  line-height: 1.6;
}

.flow {
  margin-top: var(--flow-spacing) !important;
}

.bold {
  font-weight: bold;
}

