@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
  font-size: 16px;

  /* Typography */
  /* --font-heading: 'Poppins', sans-serif; */
  --font-family: 'Montserrat', sans-serif;
  --hero-title:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,"Helvetica Neue",Arial;
  /*--font-family: 'Raleway', sans-serif;*/
  /*--font-body: 'Inter', sans-serif;*/

  /* Font weight scale for consistent, maintainable typography */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  /* Use for spacing between major sections of content */
  --flow-spacing: 1.25rem;

  /* Dynamic Font Sizes */
  /* Dynamic Font Sizes (-16% | ×0.84) */
  --fs-sp: clamp(0.63rem, 0.42rem + 1.26vw, 0.84rem);
  --fs-p: clamp(0.84rem, 0.63rem + 1.05vw, 0.945rem);

  --fs-h6: clamp(0.945rem, 0.735rem + 1.05vw, 1.05rem);
  --fs-h5: clamp(1.05rem, 0.84rem + 1.26vw, 1.26rem);
  --fs-h4: clamp(1.26rem, 0.945rem + 1.47vw, 1.47rem);
  --fs-h3: clamp(1.575rem, 1.155rem + 1.68vw, 1.89rem);
  --fs-h2: clamp(1.9425rem, 1.47rem + 2.1vw, 2.31rem);
  --fs-h1: clamp(2.415rem, 1.785rem + 2.52vw, 2.94rem);

  --navigation-height: 8rem;
  --mobile-version-size: 860px;
  --minimum-width-size: 320px;

  /* UI tokens used by theme-common */
  --radius: 1rem;
  --shadow: 0 .6rem 1.35rem rgba(0, 0, 0, .7);
  --padding: .25rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  /*width: 100dvw;*/
  /*min-width: var(--minimum-width-size);*/
}

body {
  /*overflow-x: hidden;*/
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  font-family: var(--font-family), sans-serif;
  font-weight: var(--fw-regular);
  line-height: 1.6;
  position: relative;
  background: var(--body-background);
}

img {
  max-width: 100%;
  height: auto;
}

.fs-sp {
  font-size: var(--fs-sp);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-extrabold);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-semibold);
}

h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-semibold);
}

h5 {
  font-size: var(--fs-h5);
  font-weight: var(--fw-medium);
}

h6 {
  font-size: var(--fs-h6);
  font-weight: var(--fw-medium);
}

p {
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  line-height: 1.6;
}

.flow {
  margin-top: var(--flow-spacing) !important;
}

.bold {
  font-weight: bold;
}

ul {
  display: flex;
}

li {
  list-style: none;
}
