:root[data-mode="day"] {

  /*** MAIN ITEMS ***/
  --body-background: #f5f7f2;

  /** PANEL ONLY RELATED ITEMS **/
  --panel-background: #102034;
  --panel-font-color: #FFFFFF;
  --panel-shadow: 0 .6rem 1.35rem rgba(0, 0, 0, .7);

  --muted: #5E6A76;


  /* For the yellow Carries Sign */
  --on-yellow: #ffd750;

  /* Surfaces & text */
  --navy: #FAFAF9;
  --card: #FFFFFF;
  --ink: #121417;

  /* Accents */
  --accent: #9A3A32;
  --accent-2: #F2C72A;
  --blue: #3A7BFF;
  --ok: #1E9E6E;
  --chip: #EEEFF2;

  /* Borders & decorative */
  --border: #E3E5E8;
  --nav-bg: #FFFFFF;
  --day-card: #F1F1F0;
  --day-border: #E1E3E6;


}
